<div style="text-align:center">
  <h1>{{title | uppercase | titlecase}}</h1>
  {{'ALEX' | lowercase}}
  <p>I have {{4500.50 | currency: 'EUR':'code':'4.2-4':'it-IT'}} Euros</p>
  <p>I was born {{birthDate | date: 'dd/mm/yyyy H:m:s'}}</p>
  <p>I was born {{birthDate | date: 'fullDate':'+2':'it-IT'}}</p>
  <p> {{'the quick brown fox jumped over the lazy dog'| ucfirst}}</p>
</div>
